/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/var
/nbproject/private/
/app/var/
/sh/zain.cnf
/sh/backup-zain-garapenak.sh
/sh/import-zain.sh
/app/DoctrineMigrations/
/sh/zain.sql.gz
/sh/zain.20181106_105031.sql