body {
    padding: 0.1em 0.1em 0.1em 0.1em;
    line-height: 1;
    margin-bottom: 2.5rem;
}

header {
    display: grid;
    grid-template-columns: 150px auto 200px 100px;
    grid-template-areas: "logo titulo erabiltzailea idioma";
    justify-content: space-beetween;
    text-align: center;
    align-items: center;
}

main {
    width: 100vw;
}

.logo {
    height: 100px;
    width: auto;
}

.titulua {
    display: flex;
    text-align: center;
}

.avatar {
    float: right;
    height: 3rem;
    border-radius: 3rem;
}

.fixed-bottom-right {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

.flex-row-nowrap {
    display: flex;
    flex: row nowrap;
}

.fa-calendar {
    font-size: 1.5rem;
}

.flex-align-items-center {
    align-items: center;
}
.flex-align-items-end {
    align-items: flex-end;
}

.margin-left-auto {
    margin-left: auto;
}

.bootstrap-table {
    font-size: 0.8rem;
}

.detail-list {
    display: flex;
    list-style: none;
    flex-flow: row nowrap;
    justify-content: space-between; 
}


.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: none;
}

.popup {
    max-width: 90%;
    width: 90%;
    max-height: 90%;
    height: 80%;
    padding: 20px;
    position: relative;
    background: #ffffff;
    margin: 20px auto;
    z-index: -2;
    overflow-y: scroll;
}

.popup pre {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    overflow-x: scroll;
    overflow-wrap: break-word;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000;
}

.input-group-append {
    z-index: 0;
}

.iframe {
    height: 100%;
    width: 100%;
}

.highlight {
    background: yellow;
}

.highlight-danger {
    background: red;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.color-blue {
    color: blue;
}

.color-yellow {
    color: yellow;
}

#event-details pre {
    overflow-y: hidden;
}